
body{
	margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background: #d2f8ff;
}


.bear{
  position: absolute;
  bottom: 20px;
  left: 20px;

  height: 140px;
}

.base-window{
  position: relative;

  width: 80vw;
  max-width: 850px;
}

.base-img{
  width: 100%;
  height: auto;

  display: block;

  border-radius: 35px;
}

.overlay-content{
  position: absolute;
  inset: 0;
}

/* profile image */
.profile-pic{
  position: absolute;

  width: 20%;
  aspect-ratio: 1 / 1;

  top: 22%;
  left: 4%;

  border-radius: 50%;
  object-fit: cover;
}

/* top navbar */
.nav-bar{
  position: absolute;

  top: 31.5%;
  left: 31.5%;

  display: flex;
  gap: 4.5%;
}

/*da8e8e*/

.nav-bar button{
  padding: 1em 3em;

  font-size: clamp(10px, 1.4vw, 18px);

  border: none;

  background: #f0e9e0e3;
  color: rgb(119, 95, 95);

  font-weight: bold;
}